<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esraturmi.app.bachelor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.esraturmi.app.bachelor.group.CashInOutActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity"/>
        <activity
            android:name="com.esraturmi.app.bachelor.group.MemberTransactionActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity" />
        <activity
            android:name="com.esraturmi.app.bachelor.group.AddCostActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity" />
        <activity
            android:name="com.esraturmi.app.bachelor.SettingActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity" />
        <activity android:name="com.esraturmi.app.bachelor.group.ComplainActivity" />
        <activity android:name="com.esraturmi.app.bachelor.group.SendCashActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity"/>
        <activity
            android:name="com.esraturmi.app.bachelor.group.NoticeViewActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity" />
        <activity
            android:name="com.esraturmi.app.bachelor.group.AddMealActivity"
            android:parentActivityName="com.esraturmi.app.bachelor.MainActivity" />
        <activity android:name="com.esraturmi.app.bachelor.group.GroupRequestActivity" />
        <activity android:name="com.esraturmi.app.bachelor.group.GroupMemberActivity" />
        <activity android:name="com.esraturmi.app.bachelor.ViewProfileActivity" />
        <activity android:name="com.esraturmi.app.bachelor.group.JoinGroupActivity" />
        <activity android:name="com.esraturmi.app.bachelor.NotificationActivity" />
        <activity android:name="com.esraturmi.app.bachelor.SupportActivity" />
        <activity android:name="com.esraturmi.app.bachelor.auth.ForgetPasswordActivity" />
        <activity android:name="com.esraturmi.app.bachelor.auth.LoginActivity" />
        <activity android:name="com.esraturmi.app.bachelor.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>